body {
    margin: 0;
}

.button {
    display: inline-block;
    background-color: chocolate;
    border-radius: 10px;
    border-style: outset;
    border-color: chocolate;
    padding: 12px 33px 15px 33px;
    color: white;
    text-align: center;
    transition-property: background-color, border-color, opacity;
    transition-duration: 200ms;
    cursor: pointer;
    font-family: Arial;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    opacity: 0;
}
.button:hover {
    background-color: sandybrown;
    border-color: sandybrown;
}
.button:active {
    border-style: inset;
    background-color: saddlebrown;
    border-color: saddlebrown;
}

.button_mini {
    display: inline-block;
    background-color: chocolate;
    border-radius: 8px;
    border-style: outset;
    border-color: chocolate;
    padding: 9px 27px 12px 27px;
    color: white;
    text-align: center;
    transition-property: background-color, border-color, opacity;
    transition-duration: 200ms;
    cursor: pointer;
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    opacity: 0;
}
.button_mini:hover {
    background-color: sandybrown;
    border-color: sandybrown;
}
.button_mini:active {
    border-style: inset;
    background-color: saddlebrown;
    border-color: saddlebrown;
}

.fon {
    background-repeat: no-repeat;
    background-position: center center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.4;
}

.text {
    position: relative;
    z-index: 1;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: justify;
    width: 100%;
    height: 100%;
    font-size: 18px;
}

.btn_panel {
    position: relative;
    z-index: 5;
    margin: 0 20px 20px 20px;
    text-align: right;
}
.btn_panel:after {
    content: " ";
    clear: both;
    display: table;
}

.prakt_image {
    text-align: center;
    position: relative;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 200ms;
}
.prakt_image img {
    box-shadow: 0 0 10px black;
}
.prakt_image video {
    box-shadow: 0 0 10px black;
}

table#results {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
table#results td {
    border: black 1px solid;

}

.test {
    margin: 30px 0;
}
.test_ans {
    margin: 5px 0;
}
.test_ans label, .test_ans input {
    cursor: pointer;
}

.prakt_cont {
    position: relative;
    z-index: 1;
    width: 600px;
    margin: 0 auto;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 200ms;
}
.prakt_cont h3 {
    text-align: center
}
